<h1>Welcome to simple Digital Assets Platform</h1>
<% if user_signed_in? %> 
  <div> Welcome <%= current_user.email %> </div> 
  <%= link_to "My Assets", creator_assets_path %>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>